<%= form_for(atricle) do |f| %>
  <% if atricle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atricle.errors.count, "error") %> prohibited this atricle from being saved:</h2>

      <ul>
      <% atricle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
